<!DOCTYPE html>
<html>
    <head>

        <!-- Hi i'm paypal and welcome to jackass -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        
        <% include ../partials/stylesheetPRODUCT %>
        <link href="/publicPRODUCT/stylesheets/shop-item.css" rel="stylesheet">

        <style>
            .responsive {
            width: 25%;
            height: auto;
            border-radius:10px;
            margin: 1em;
        }
        .list-group-item {
            color:black;
        }
        .list-group-item-text {
            margin:0 auto;
            font-size: 1em;
        }
        .jumbotron {
            padding:1em;
        }
        </style>
    </head>

    <body>

         <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
              <a class="navbar-brand" href="/">Merrell Fashion</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comments">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/videos">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products-gallery">Products</a>
                </li>
                
                </ul>
              </div>
            </div>
          </nav>

        

        <div class="responsive" style="display: block;margin:auto 0;position: relative;margin:1em;width:40%">
            <h3 style=""><%= title %></h3>
        </div>

        <% for(i=0;i<receipt.length;i++) { %>
        <div class="list-group">

                <div class="Payments">
                    <div class="jumbotron jumbotron-fluid">
                        
                        <h5 class="list-group-item-heading">
                            Your Item:
                        </h5>
                        <p class="list-group-item-text">
                            Name: <%= item[i].ItemName %>
                        </p>
                        <p class="list-group-item-text">
                              Price: <%= (receipt[i].totalAmount).toFixed(2) %>
                        </p>
                        <p class="list-group-item-text">
                            Category: <%= item[i].category %>
                        </p>
                        <p class="list-group-item-text">
                            Description: <%= item[i].Description %>
                        </p> <br>
                       



                        <h5 class="list-group-item-heading">
                            Your Receipt:
                        </h5>
                        <p class="list-group-item-text">
                            Payment ID (Keep this for future reference):  <%= receipt[i].payment_id %>
                            </p>
                        <p class="list-group-item-text">
                            Payer id: <%= receipt[i].payer_id %>
                        </p>
                        <p class="list-group-item-text">
                            
                            <% if (receipt[i].status="c") {  %>
                                Status: Payment Completed
                            <% } %>



                        </p>
                        <p>
                            Order Method: <%= receipt[i].orderMethod %>
                        </p>


                    </div>
                </div>
    </div>
    <% } %>
    <div class="responsive" style="display: block;margin:auto 0;position: relative;margin:2em;width:40%;" >
        <button class="btn btn-large btn-primary"style=""> <a href="http://localhost:3000/profile" style="color:white;text-decoration: none"> Back to Profile</a></button>
        </div>
    </body>
</html>