<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheetPRODUCT %>
    <% include ../partials/stylesheetPRODUCT %>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Merrell Fashion</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products-gallery">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/messages"> Chat </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/offerBuyer">Offers</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/offerSeller">Offer Inbox</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
    <div class="container">
        <h3>Item Details: <%=offerList.itemID%></h3>
            Item Name:<p><%=offerList.itemName%></p>
            Buyer Name:<p><%=offerList.buyerName%></p>
            Original Price:<p>$ <%=itemList.price%> | Offered Price:$ <%= offerList.offerAmount %></p> <!--rmb to alert price!-->
        <form action="/offerDetails/<%=offerList.transactionID%>" method="post">
            <input type="submit" class="acceptBtn btn btn-success" value="Accept">

            <input type="button" class="deleteBtn btn btn-danger"  value="Reject">
        </form>
    </div>
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>


    <footer class="py-5 bg-dark" style ="position: relative; bottom: 0; width: 100%;">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
            </div>
            <!-- /.container -->
          </footer>

</body>

<script>
    // function checkForm() {
    //     if (confirm("Are you sure?")) {
    //         return true;
    //     }
    //     else {
    //         return false;
    //     }
    // }
    $('.deleteBtn').click(function () {
          if (confirm("Reject this offer?")) {
            $.ajax({
                url: '<%-urlPath %>',
                type: 'DELETE',
                success: function (result) {
                console.log(result.message);
                window.location.replace("<%-hostPath%>/offerSeller");
                },
                error: function (result) {
                alert("Unable to reject offer. Please try again.");
                console.log(result.message);
                }
            });
          }
        });
</script>

</html>