<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>
    <% include ../partials/stylesheetPRODUCT %>
    <!-- Custom styles for this template -->
    <link href="/publicPRODUCT/stylesheets/shop-homepage.css" rel="stylesheet">
    
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Merell Fashion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Sign in</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/comments">Comments</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/videos">Videos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/products-gallery">Products</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/messages"> Chat </a>
          </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-muted">Product Page</h4>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#createProduct" >
                    New Product
                </button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/products" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Create New Product Listing</h4>
                        </div>

                        <div class="modal-body">
                            <fieldset class="form-group">
                                <label for="ItemName">Product Name</label>
                                <input type="text" id="ItemName" name="ItemName" class="form-control" placeholder="Product Name" required="">
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="price">Pricing</label>
                                <input type="text" id="price" name="price" class="form-control" placeholder="price" required="">
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="Description">Item Description</label>
                                <textarea id="Description" name="Description" rows="8" cols="40" class="form-control" placeholder="Item Description" required=""></textarea>
                            </fieldset>
                            
                            <div class="radiobuttons-container">
                                <fieldset class="form-group" required ="">
                                    <label for="Dress" class="mdl-radio mdl-js-radio">
                                        <input id="Dress" class="mdl-radio__button" type="radio" name="category" value="Dress" /> 
                                        <span class="mdl-radio__label">Dress</span>
                                    </label>
                
                                    <label for="High Heels" class="mdl-radio mdl-js-radio">
                                        <input id="High Heels" class="mdl-radio__button" type="radio" name="category" value="High Heels" />
                                        <span class="mdl-radio__label">High Heels</span>
                                    </label>
                
                                    <label for="Skirt" class="mdl-radio mdl-js-radio">
                                        <input id="Skirt" class="mdl-radio__button" type="radio" name="category" value="Skirt" />
                                        <span class="mdl-radio__label">Skirt</span>
                                    </label>
                
                                    <label for="Tops" class="mdl-radio mdl-js-radio">
                                        <input id="Tops" class="mdl-radio__button" type="radio" name="category" value="Tops" />
                                        <span class="mdl-radio__label">Tops</span>
                                    </label>
                
                                    <label for="Jeans" class="mdl-radio mdl-js-radio">
                                        <input id="Jeans" class="mdl-radio__button" type="radio" name="category" value="Jeans" />
                                        <span class="mdl-radio__label">Jeans</span>
                                    </label>
                
                                    <label for="Cardigans" class="mdl-radio mdl-js-radio">
                                        <input id="Cardigans" class="mdl-radio__button" type="radio" name="category" value="Cardigans" />
                                        <span class="mdl-radio__label">Cardigans</span>
                                    </label>
                                    </fieldset>
                
                                </div>
                                <!-- .radiobuttons-container -->
                                
                          <label class="file" style="width: 100%">
                              <input type="file" id="image" name="image">
                              <span class="file-custom"></span>
                          </label>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                  </form>
              </div>
          </div>
    </div>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Shop Name</h1>
          <div class="list-group">
            <a href="/products-gallery/Dress" class="list-group-item filterD">Dresses</a>
            <a href="/products-gallery/High Heels" class="list-group-item filterHH">High Heels</a>
            <a href="/products-gallery" class="list-group-item">No filter</a>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <div class="row">
            <% productlists.forEach(function(productlists){ %>
                <div class="col-lg-4 col-md-6 mb-4" data-id="<%= productlists.Itemid %>">
                  <div class="card h-100" data-id ="<%= productlists.Itemid%>" >
                  <img src="/publicPRODUCT/images/<%= productlists.imageName %>" class="figure-img img-fluid img-rounded specific" alt="<%= productlists.imageName %>">
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#"><%= productlists.ItemName %></a>
                      </h4>
                      <h5>Price: $<%= productlists.price %> 
                        <br>
                        Category: <%= productlists.category %>
                      </h5>
                      <p class="card-text"></p>
                    </div>
                    <div class="card-footer" data-id="<%= productlists.Itemid %>">
                        <input type="button" class="editBtn" value="Edit">
                        <input type="button" class="deleteBtn"  value="Delete">
  
                    </div>
                  </div>
                </div>
            <% }); %>

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <% include ../partials/JavascriptPRODUCT %>
    <% include ../partials/javascript %>

    <script>

      $('.editBtn').click(function () {
        var record_num = $(this).closest("div").data('id');
        location.href = "<%-urlPath %>/edit/"+record_num;
        alert(record_num);
      });

      $('.specific').click(function () {
      var record_num = $(this).closest("div").data('id');
      location.href = "<%-urlPath %>/view/"+record_num;
      });
  
      $('.deleteBtn').click(function () {
        var record_num = $(this).closest("div").data('id');
        $.ajax({
          url: '<%-urlPath%>/' + record_num,
          type: 'DELETE',
          success: function (result) {
            console.log(result.message);
            location.reload()
            // var itemToRemove = '.col-lg-4 col-md-6 mb-4[data-id=' + record_num + ']';
            // $(itemToRemove).remove();
          },
          error: function (result) {
            alert("Unable to delete student record.");
            console.log(result.message);
          }
        });
      });
    </script>

  </body>

</html>
