<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>
    <style>
        form[codename=searchbox] button {
            float: right;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 16px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

        input[codename=search] {
            width: 80%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 10px;
        }
    </style>
    <% include ../partials/stylesheetPRODUCT %>
        <!-- Custom styles for this template -->
        <link href="/publicPRODUCT/stylesheets/shop-homepage.css" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Merrell Fashion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comments">Comments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/videos">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products-gallery">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/messages"> Chat </a>
                    </li>
                    <li>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#createProduct">
                                New Product
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-muted" style="padding-left:15px">Product Page</h4>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/products" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Create New Product Listing</h4>
                        </div>

                        <div class="modal-body">
                            <fieldset class="form-group">
                                <label for="ItemName">Product Name</label>
                                <input type="text" id="ItemName" name="ItemName" class="form-control" placeholder="Product Name" required="">
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="price">Pricing</label>
                                <input type="number" min="0" step="any" id="price" name="price" class="form-control" placeholder="price" required="">
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="Description">Item Description</label>
                                <textarea id="Description" name="Description" rows="5" cols="40" class="form-control" placeholder="Item Description" required=""></textarea>
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="PickUpLocation">Item Pick Up Location</label>
                                <textarea id="PickUpLocation" name="PickUpLocation" rows="3" cols="40" class="form-control" placeholder="Postal code and address required"
                                    required=""></textarea>
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="CategoryList">Item Category:</label>
                                <input list="CategoryList" name="category" required="" placeholder="Search here And Pick One From Below" class="form-control"
                                    pattern="Dress|High Heels|Skirt|Tops|Jeans|Cardigans" title='Please pick from one of the choices given'>
                                <datalist id="CategoryList">
                                    <option value="Dress">Dress</option>
                                    <option value="High Heels">High Heels</option>
                                    <option value="Skirt">Skirt</option>
                                    <option value="Tops">Tops</option>
                                    <option value="Jeans">Jeans</option>
                                    <option value="Cardigans">Cardigans</option>
                                </datalist>
                            </fieldset>
                        </div>
                        <!-- .radiobuttons-container -->


                        <label class="file" style="width: 100%">
                            <input type="file" id="image" name="image" required="" class="form-control" style="width: 490px;height: auto;margin-left: 4px;">
                            <span class="file-custom"></span>
                        </label>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="container">

            <div class="row">



                <div class="col-lg-3">

                    <form codename="searchbox">
                        <input codename="search" type="text" placeholder="Search...." id="searchfunct">
                        <button type="button" id="search" class="btn btn-primary searching" onclick="search()" style="
                        height: 49px">
                            <img src='/public/images/if_013_MagnifyingGlass_183520.png' style='max-width: 15px; max-height: 15px'>
                        </button>
                    </form>

                    <br>

                    <h6>Filters</h6>
                    <div class="list-group">
                        <a href="/products-gallery/Dress" class="list-group-item">Dresses</a>
                        <a href="/products-gallery/High Heels" class="list-group-item">High Heels</a>
                        <a href="/products-gallery/Jeans" class="list-group-item">Jeans</a>
                        <a href="/products-gallery/Cardigans" class="list-group-item ">Cardigans</a>
                        <a href="/products-gallery/Skirt" class="list-group-item">Skirts</a>
                        <a href="/products-gallery" class="list-group-item">No filter</a>
                    </div>

                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-9">
                    <div class="row">
                        <% productlists.forEach(function(productlists){ %>
                            <div class="col-lg-4 col-md-6 mb-4" data-id="<%= productlists.Itemid %>" >
                                <div class="card h-100" data-id="<%= productlists.Itemid%>">
                                    <img src="/publicPRODUCT/images/<%= productlists.imageName %>" class="figure-img img-fluid img-rounded specific" alt="<%= productlists.imageName %>"
                                        style="max-width: 100%; height:250px;">
                                    <div class="card-body" style="min-height:164px; max-height:100%">
                                        <h4 class="card-title">
                                            <a href="<%-urlPath %>/view/<%= productlists.Itemid%>" %>>
                                                <%= productlists.ItemName %>
                                            </a>
                                        </h4>
                                        <hr>
                                        <h5>
                                            Price: $<%= productlists.price %>
                                            <br>
                                            Description: <%= productlists.Description %>
                                        </h5>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </div>
                            <% }); %>

                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.col-lg-9 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
        <footer class="py-5 bg-dark" style="width :100%">
                <div class="container" style="width :100%">
                  <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
                <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <% include ../partials/JavascriptPRODUCT %>
        <% include ../partials/javascript %>

                <script>

                    // $(document).keypress(function (e) {

                    //     if (e.which == 13) {

                    //         alert("enter enter enter");
                    //         // var searchh = document.getElementById("searchfunct").value;
                    //         // location.href = "/products-gallery/search/" + searchh;

                    //         var searchh = document.getElementById("searchfunct").value;
                    //         var url1 = "/products-gallery/" + searchh;
                    //         // alert(url1);
                    //         // location.href = url1;

                    //         $.ajax({
                    //             url: url1,
                    //             success: function (result) {
                    //                 alert(result)
                    //                 $( "#new" ).html( result );
                                    
                    //             }
                    //         });

                    //     }
                    // });

                    $('.editBtn').click(function () {
                        var record_num = $(this).closest("div").data('id');
                        location.href = "<%-urlPath %>/edit/" + record_num;

                    });

                    $('.searching').click(function () {
                        var searchh = document.getElementById("searchfunct").value;
                        location.href = "/products-gallery/search/" + searchh;

                    });

                    $('.specific').click(function () {
                        var record_num = $(this).closest("div").data('id');
                        location.href = "<%-urlPath %>/view/" + record_num;
                    });

                    $('.deleteBtn').click(function () {
                        var record_num = $(this).closest("div").data('id');
                        $.ajax({
                            url: '<%-urlPath%>/' + record_num,
                            type: 'DELETE',
                            success: function (result) {
                                console.log(result.message);
                                location.reload()
                                // var itemToRemove = '.col-lg-4 col-md-6 mb-4[data-id=' + record_num + ']';
                                // $(itemToRemove).remove();
                            },
                            error: function (result) {
                                alert("Unable to delete item record.");
                                console.log(result.message);
                            }
                        });
                    });
                </script>

</body>

</html>