<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>

    <% include ../partials/stylesheet %>
    <% include ../partials/stylesheetPRODUCT %>
    <% include ../partials/stylesheetSlick %>
    <style>
        p .descriptioncss{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 10%;
        }
        
    
        .carousel-inner .carousel-item-right.active,
        .carousel-inner .carousel-item-next {
        transform: translateX(25%);
        }

        .carousel-inner .carousel-item-left.active, 
        .carousel-inner .carousel-item-prev {
        transform: translateX(-25%)
        }
        
        .carousel-inner .carousel-item-right,
        .carousel-inner .carousel-item-left{ 
        transform: translateX(0);
        }
    </style>
  
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Merrell Fashion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comments">Comments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/videos">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products-gallery">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/messages"> Chat </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1><%= title %></h1>
        <div class="datails">

            <div class="card text-xs-center">
                <br>
                <img class="card-img-top" src="<%= avatar %>" alt="Card image cap" style="width:100px; margin-left:auto; margin-right:  auto;">
            
                <div class="card-block">
                    <h4 class="card-title">User Details</h4>
                    <p class="card-text">
                        <strong>Name</strong>: <%= user.name %>
                        <br>
                        <strong>Email</strong>: <%= user.email %>
                        <br>
                        <a href="/logout" class="btn btn-default">Logout</a>
                        <hr>
                    </p>
                    <h4 class="card-title">Your Items</h4>

                    <div class="your-class">
                            
                            <% productlists.forEach(function(productlists){ %>
                              
                                <div class="col-lg mb-4" data-id="<%= productlists.Itemid %>">
                                  <div class="card h-100" data-id ="<%= productlists.Itemid%>" >
                                  <img src="/publicPRODUCT/images/<%= productlists.imageName %>" class="figure-img img-fluid img-rounded specific" alt="<%= productlists.imageName %>"  style="max-width: 100%; height:250px; margin:15px">
                                  <% if (productlists.status == 'c') { %>
                                  <div style="position: absolute; bottom: 47.8%; right: 4.4%;" class="btn btn-danger">Item Sold</div>
                                  <% } %>
                                    <div class="card-body" style="min-height:164px; max-height: 164px">
                                            <p class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 95%; font-size: 24px" >
                                                    <a href="<%-urlPath %>/view/<%= productlists.Itemid%>" %>>
                                                        <%= productlists.ItemName %>
                                                    </a>
                                                </p>
                                                <hr>
                                                <p>
                                                    Price: $<%= (productlists.price).toFixed(2) %> 
                                                </p>
                                                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;" >
                                                    <%= productlists.Description %>
                                                </p>
                                      <p class="card-text"></p>
                                    </div>
                                    <div class="card-footer" data-id="<%= productlists.Itemid %>">
                                        <input type="button" class="btn btn-primary editBtn" value="Edit">
                                        <input type="button" class="btn btn-danger deleteBtn"  value="Delete">
                  
                                    </div>
                                  </div>
                                </div>
                                
                            <% }); %>
                      </div>

                </div>
            </div>
        </div>
    </div>

    

    <footer class="py-5 bg-dark" style ="position: relative; bottom: 0; width: 100%; top: 334px;">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
      </footer>
        
        <% include ../partials/JavascriptPRODUCT %>
        <% include ../partials/javascript %>
        
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="/public/stylesheets/slick/slick.min.js"></script>

        <script type="text/javascript">
          
            $('.your-class').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3,
                autoplay: true,
                autoplaySpeed: 2000,
            });
            

            $('.editBtn').click(function () {
              var record_num = $(this).closest("div").data('id');
              location.href = "<%-urlPath %>/edit/"+record_num;
            });
      
            $('.specific').click(function () {
                var record_num = $(this).closest("div").data('id');
                location.href = "<%-urlPath %>/view/"+record_num;
            });
        
            $('.deleteBtn').click(function () {
                var record_num = $(this).closest("div").data('id');
                if (confirm("Are you sure you want to delete your item?") ){
                    $.ajax({
                        url: '<%-urlPath%>/' + record_num,
                        type: 'DELETE',
                        success: function (result) {
                        console.log(result.message);
                        location.reload()
                        },
                        error: function (result) {
                        alert("Unable to delete item record.");
                        console.log(result.message);
                        }
                    })
                }else{
                    
                }
            });
          </script>
    </body>
    </html>
