<!DOCTYPE html>
<html>
    <head>

        <!-- Hi i'm paypal and welcome to jackass -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        
        <% include ../partials/stylesheet %>
    </head>

    <body>
        <% include ../partials/header %>

        <div class="container">
            <h1><%= title %></h1>
        </div>

        
        <div class="list-group">

            <a href="#" class="list-group-item">
                <div class="Payments">
                    <% receipt.forEach(function(receipt) { %>
                        <h4 class="list-group-item-heading">
                            <%= receipt.ItemName %>
                        </h4>
                        <p class="list-group-item-text text-muted" id="price">
                            <%= receipt.price %>
                        </p>
                        <p class="list-group-item-text text-muted">
                        </p>
                        <small class="list-group-item-text text-muted">
                            <%= receipt.Description %>
                        </small> 
                        <p class="list-group-item-text text-muted">
                            <%= receipt.user_id %>
                        </p>
                        <p class="list-group-item-text text-muted">
                            <%= receipt.PickUpLocation %>
                        </p>
                    <% }); %>
                </div>
            </a>

    </div>

    </body>
</html>