<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
  <% include ../partials/javascript %>
</head>

<body>
  <% include ../partials/header %>
  <div class="container">
    <table class="table">
      <thread>
        <tr>
          <th>ID</th>
          <th>user_id</th>
          <th>item_id</th>
          <th>action</th>
          <th>date_created</th>
        </tr>
        <% for(var i=0; i < itemList.length; i++){ %>
          <tr class="rowRecord" data-id="<%= itemList[i].id %>">
            <td>
              <%= itemList[i].id %>
            </td>
            <td>
              <%= itemList[i].user_id %>
            </td>
            <td>
              <%= itemList[i].item_id %>
            </td>
            <td>
              <%= itemList[i].status %>
            </td>
            <td>
                <%= itemList[i].adate %>
            </td>
          </tr>
          <% } %>
      </thread>
    </table>
  </div>
  <% include ../partials/footer %>
</body>

</html>